body {
    background-color: #f8ffb6;
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #0051ff;
    text-align: center;
}


/*---heading---*/
.heading {
    text-align: center;
    font-size: 2.5rem;
}


/*--- menu ---*/
.menu{
    width: 85%;
    height:fit-content;
    background-color: #3877ff;
    margin-left: auto;
    margin-right: auto;
}

.categories{
    font-family: 'Mochiy Pop P One', sans-serif;
    color: white;
    background-color: #140a72;
    padding: 5px;
    margin: 5px;
}

h2{
    padding-top: 2%;
}


/*--- game area ---*/
.container{
    color:white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.game-area {
    width: 85%;
    height: 400px;
    background-color: #3877ff;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

#hangman{
    width: 50%;
    float: left;
    height: auto;
}

#hangmanImg{
    height:350px;
}

#total-score{
    padding-top: 2%;
}

#wrong-guesses{
    width: 50%;
    float: right;
    text-align: center;
    padding-top: 2%;
}

#guess-area{
    width: 50%;
    float: right;
    padding-top: 5%;
}

#result{
    float: right;
    width: 300px;
    z-index: 1;
    background-color: #08235ee0;
    padding-right: 5px;
    padding-left: 5px;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -155px;
    height: fit-content;
    font-size:x-large ;
}


/*--- letter area ---*/
#keyboard{
    width: 85%;
    height: fit-content;
    background-color: #3877ff;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}


/*--- buttons ---*/
.alphabet{
    padding: 5px;
    margin: 3px;
    font-family: 'Mochiy Pop P One', sans-serif;
    background-color: #f8ffb6;
    color:#140a72;
}


/*--- media queries ---*/

@media screen and (max-width: 800px) {
    .container{
        width: 100%;
    }

    #hangman{
        float:none;
        width: 100%;
    }

    #hangmanImg{
        height: 250px;
    }

    #wrong-guesses{
        width: 100%;
    }

    #guess-area{
        width: 100%;
    }

    #keyboard{
        height:fit-content;
    }

    .game-area {
        width: 85%;   
    }
    
}

@media screen and (max-width: 330px){
    #result{
        width: 250px;
        margin-left: -125px;
    }
}



