
body {
    background-color: #faf5b1;
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #6408a6;
    text-align: center;
}


/*---heading---*/
.heading {
    text-align: center;
    font-size: 2.5rem;
}